---
import BaseHead from '../components/BaseHead.astro';
import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="jp">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
		<!-- Google Search Console 用 -->
		<meta name="google-site-verification" content="TU4Wadhvi1Fe_QLVR_1KLuIM22PmFsS83om3AQ88eyg" />
	</head>
	<body>
		<Layout
			title="自己紹介"
			description="noRan3k0について"
			pubDate={new Date('June 2 2025')}
			heroImage="/noRan3k0.jpg"
		>
			<p>
				本名・経歴等、個人情報は就活サービスのプロフィール等からご確認お願いします。
			</p>

			<ul>
				<li>ハンドルネーム： noRan3k0(のらねこ)</li>
				<br>
				<li>研究： 学部時代の卒業研究では、ハニーポットCowrieを使用し、収集した攻撃データの分析に関する研究を行いました。
				大学院の修士の研究では、攻撃者の実行するコマンドの分析に関する研究を行う予定です。</li>
				<br>
				<li>おもな使用言語： Python, C (ともにリファレンスを確認しながら利用できるレベル)</li>
				<li>使用フレームワーク: Flask, Astro, Django (リファレンスを確認しながら利用できるレベル)</li>
				<li>その他使用ツール・サービス: Github, WSL, Netlify, Unity</li>
			
				<li>趣味: CTF</li>
			</ul>
			<br>

			<h3>経歴</h3>
			<table>
			<tr>
				<th>年月</th> <th>内容</th>
			</tr>
			<tr>
				<th> 2021年4月 </th> <th> 地方国立大学の情報工学系コースに入学
			</tr>
			<tr>
				<th> 2025年3月 </th> <th> 同大学同コースを卒業
			</tr>
			<tr>
				<th> 2025年4月 </th> <th> 同大学大学院の情報工学系分野に進学 </th>
			</tr>
			<table>
		</Layout>
	</body>
</html>
