---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="jp">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>noRan3k0</h1>
			<p>
				皆様、こんにちは。<br>
                こちらはnoRan3k0(のらねこ)のポートフォリオサイトです。
			</p>
            <ul>
                <li>About -> About</li>
                <li>制作物・活動に関して -> blog</li>
                <li>お問い合わせ -> contact</li>
            </ul>
		</main>
		<Footer />
	</body>
</html>
